body{
    background-image: url("background.jpg");
    justify-content: center;
}
.title{
    font-size: 50px;
    font-family: "Times New Roman";
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}