body{
    background-image: url("background.jpg");
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.title{
    position: absolute;
    font-size: 200px;
    font-family: "Times New Roman";
    color: #1900ff;
    text-align: center;
    margin-top: 20px;
}